@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, html {
    margin: 0;
    padding: 0;
    background: url('background2.png') no-repeat center center fixed;
    background-size: cover;
}

nav {
    background-color: #003366; /* Темный синий фон */
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

nav a {
    color: #00BFFF; /* Цвет текста ссылок */
    text-decoration: none;
    margin: 0 20px;
    font-family: 'Press Start 2P', cursive; /* Подтверждаем использование пиксельного шрифта для меню */

.text-box {
    margin: 20px;
    line-height: 1.6;
}

.text-box h1, .text-box h2 {
    color: #333;
}

.text-box p, .text-box li {
    color: #666;
}

.text-box ul {
    list-style-type: none;
    padding: 0;
}

.text-box em {
    font-style: normal;
}

.text-box strong {
    font-weight: bold;
}

