@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, html {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    background: url('background2.png') no-repeat center center fixed; 
    background-size: cover;
    overflow-x: hidden;
}

/* Создаем визуальную полосу для иконки меню и надписи */
.menu-bar {
    background-color: #003366;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 19;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.menu-icon {
    cursor: pointer;
    color: #00BFFF;
    font-size: 22px; /* Увеличиваем для соответствия с размером текста */
    z-index: 20;
}

.menu-text {
    color: #00BFFF;
    font-size: 20px;
    margin-left: 8px;
    z-index: 20;
}

#navbar {
    height: 100%;
    width: 0; /* Изначально меню скрыто */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #003366; /* Цвет фона меню */
    overflow-x: hidden;
    transition: width 0.5s; /* Плавное открытие и закрытие меню */
    z-index: 15;
    display: flex;
    flex-direction: column; /* Стекаем элементы вертикально */
    justify-content: center; /* Центрируем элементы по вертикали */
    align-items: center; /* Центрируем элементы по горизонтали */
    padding-top: 35px;
    transform: translateX(-100%); /* Изначальное состояние за пределами экрана */

}

#navbar a {
    padding: 10px 22px; /* Вертикальные отступы увеличены */
    margin: 8px 0; /* Добавлены отступы между элементами */
    text-decoration: none;
    font-size: 16px;
    color: white;
    transition: 0.3s;
    text-align: center; /* Центрируем текст ссылок */
}

/* Класс для активного состояния меню */
#navbar.active {
    width: 250px; /* Ширина меню при открытии на десктопах */
    transform: translateX(0%); /* При активации класса возвращаем на экран */

}

@media screen and (max-width: 767px) {
    #navbar.active {
        width: 100%; /* Меню на весь экран для мобильных версий */
    }
}
/* Стили для контейнера иконок, который будет размещен в правом верхнем углу */
.social-icons {
    position: fixed;
    right: 10px;
    top: 0;
    padding: 15px 0;
    display: flex;
    align-items: center;
    z-index: 20;
}

.social-icon {
    color: #00BFFF; /* Matching the color with the menu text */
    font-size: 22px; /* Adjusting the size */
    margin-right: 20px; /* Spacing between the icons */
}

.social-icon i {
    transition: color 0.3s ease; /* Smooth color transition */
}

.social-icon:hover i {
    color: #009FDF; /* Slightly darker on hover for better interaction */
}

/* Ensuring the icon color does not change after clicking */
.social-icon:visited {
    color: #00BFFF; /* Keeping the color consistent with the unclicked state */
}

.text-box {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto; /* Увеличенный отступ сверху для меню */
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: justify;
    font-family: 'Press Start 2P', cursive; /* Возвращаем к изначальному шрифту */
    font-size: 16px; /* Размер шрифта по вашему выбору */
    line-height: 1.5; /* Увеличенное расстояние между строками */
}

buy-now-btn {
    width: 200px; /* Фиксированная ширина кнопки */
    padding: 10px 20px; /* Отступы внутри кнопки */
    background-color: #4caf50; /* Светло-синий фон */
    color: #FFF; /* Белый текст */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Размер шрифта */
    font-family: 'Press Start 2P', cursive; /* Пиксельный шрифт */
    text-transform: uppercase;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-align: center; /* Текст по центру */
    display: block; /* Блочное отображение для правильного выравнивания */
    margin: 0 auto; /* Автоматические отступы для центрирования */
    box-shadow: 0 0 10px #00bfff; /* Светящаяся тень */
}

.buy-now-btn:hover, .buy-now-btn:active {
    background-color: #0056b3; /* Темнее синий при наведении */
    box-shadow: 0 0 15px #00bfff; /* Увеличенная светящаяся тень */
    transform: scale(1.05); /* Увеличение размера */
}

@media (max-width: 768px) {
    .text-box {
        padding: 15px; /* Уменьшаем внутренние отступы */
        margin: 50px 20px; /* Уменьшаем верхний отступ и добавляем боковые отступы для "дыхания" */
        font-size: 14px; /* Уменьшаем размер шрифта для читаемости */
    }

    /* Если есть заголовки в вашем текстовом блоке, возможно, вам также захочется их уменьшить */
    .text-box h1 {
        font-size: 18px; /* Уменьшаем размер шрифта для заголовков */
    }

    .text-box p {
        margin-bottom: 20px; /* Увеличиваем маржин для абзацев для лучшей читаемости */
    }
}

@media (max-width: 480px) {
    .text-box {
        padding: 10px;
        margin: 40px 10px; /* Дополнительное уменьшение для очень маленьких экранов */
        font-size: 12px; /* Делаем текст ещё меньше для очень маленьких экранов */
    }

    .text-box h1 {
        font-size: 16px; /* Адаптируем заголовки для очень маленьких экранов */
    }

    /* Адаптация отступов и размеров других элементов, если это необходимо */
}
/* Стили для адаптации под мобильные устройства */
@media (max-width: 767px) {
    .buy-now-btn {
        width: 80%; /* Процент ширины экрана */
        margin: 0 auto; /* Центрирование кнопки */
        display: block; /* Блочное отображение */
    }
}

@media screen and (max-width: 767px) {
    #navbar.active {
        width: 100%; /* Меню на весь экран для мобильных версий */
    }
}
