body, html {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    background: url('background.png') no-repeat center center fixed; 
    background-size: cover;
    overflow-x: hidden;
}

/* Создаем визуальную полосу для иконки меню и надписи */
.menu-bar {
    background-color: #003366;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 19;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.menu-icon {
    cursor: pointer;
    color: #00BFFF;
    font-size: 22px; /* Увеличиваем для соответствия с размером текста */
    z-index: 20;
}

.menu-text {
    color: #00BFFF;
    font-size: 20px;
    margin-left: 8px;
    z-index: 20;
}

.menu-trigger {
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 20;
}

#navbar {
    height: 100%;
    width: 0; /* Изначально меню скрыто */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #003366; /* Цвет фона меню */
    overflow-x: hidden;
    transition: width 0.5s; /* Плавное открытие и закрытие меню */
    z-index: 15;
    display: flex;
    flex-direction: column; /* Стекаем элементы вертикально */
    justify-content: center; /* Центрируем элементы по вертикали */
    align-items: center; /* Центрируем элементы по горизонтали */
    padding-top: 35px;
    transform: translateX(-100%); /* Изначальное состояние за пределами экрана */
}

#navbar a {
    padding: 10px 22px; /* Вертикальные отступы увеличены */
    margin: 8px 0; /* Добавлены отступы между элементами */
    text-decoration: none;
    font-size: 16px;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease; /* Добавлен эффект увеличения */
    display: block;
    text-align: center; /* Центрируем текст ссылок */
}

#navbar a:hover {
    transform: scale(1.1); /* Эффект увеличения при наведении */
    color: #00BFFF; /* Опционально: изменение цвета при наведении */
}

#navbar.active {
    width: 250px; /* Ширина меню при открытии на десктопах */
    transform: translateX(0%); /* При активации класса возвращаем на экран */
}

@media screen and (max-width: 767px) {
    #navbar.active {
        width: 100%; /* Меню на весь экран для мобильных версий */
    }
}
/* Стили для контейнера иконок, который будет размещен в правом верхнем углу */
.social-icons {
    position: fixed;
    right: 10px;
    top: 0;
    padding: 15px 0;
    display: flex;
    align-items: center;
    z-index: 20;
}

.social-icon {
    color: #00BFFF; /* Matching the color with the menu text */
    font-size: 22px; /* Adjusting the size */
    margin-right: 20px; /* Spacing between the icons */
}

.social-icon i {
    transition: color 0.3s ease; /* Smooth color transition */
}

.social-icon:hover i {
    color: #009FDF; /* Slightly darker on hover for better interaction */
}

/* Ensuring the icon color does not change after clicking */
.social-icon:visited {
    color: #00BFFF; /* Keeping the color consistent with the unclicked state */
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index: 2;
    position: relative;
}

.content-wrapper {
    background: rgba(255, 255, 255, 0.2); /* Прозрачный белый фон */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: inline-block;
}

.neon-text {
    color: #20FC8F;
    text-shadow:
        0 0 5px #FFF,
        0 0 10px #FFF,
        0 0 20px #20FC8F,
        0 0 30px #20FC8F,
        0 0 40px #20FC8F,
        0 0 50px #20FC8F,
        0 0 60px #20FC8F;
    animation: neon 1.5s ease-in-out infinite alternate;
    font-size: 32px;
}

@keyframes neon {
    from {
        text-shadow:
            0 0 10px #FFF,
            0 0 20px #FFF,
            0 0 30px #20FC8F,
            0 0 40px #20FC8F,
            0 0 50px #20FC8F,
            0 0 60px #20FC8F,
            0 0 70px #20FC8F;
    }
    to {
        text-shadow:
            0 0 5px #FFF,
            0 0 10px #FFF,
            0 0 15px #20FC8F,
            0 0 20px #20FC8F,
            0 0 25px #20FC8F,
            0 0 30px #20FC8F,
            0 0 35px #20FC8F;
    }
}

.copy-address-btn {
    padding: 15px 30px;
    background-color: #007bff; /* Светло-синий фон */
    color: #FFF; /* Белый текст */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 9;
}

.copy-address-btn:hover {
    background-color: #0056b3; /* Темнее синий при наведении */
    transform: scale(1.1);
}

buy-now-btn {
    width: 200px; /* Фиксированная ширина кнопки */
    padding: 10px 20px; /* Отступы внутри кнопки */
    background-color: #00BFFF; /* Светло-синий фон */
    color: #FFF; /* Белый текст */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Размер шрифта */
    font-family: 'Press Start 2P', cursive; /* Пиксельный шрифт */
    text-transform: uppercase;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-align: center; /* Текст по центру */
    display: block; /* Блочное отображение для правильного выравнивания */
    margin: 0 auto; /* Автоматические отступы для центрирования */
    box-shadow: 0 0 10px #00bfff; /* Светящаяся тень */
}

.buy-now-btn:hover, .buy-now-btn:active {
    background-color: #00BFFF; /* Темнее синий при наведении */
    box-shadow: 0 0 15px #00BFFF; /* Увеличенная светящаяся тень */
    transform: scale(1.05); /* Увеличение размера */
}

@media (max-width: 768px) {
    .hero {
        padding: 10px;
        justify-content: center; /* Центрирование содержимого */
        align-items: center; /* Дополнительное центрирование по горизонтали, если .hero использует flex */
        display: flex;
        flex-direction: column; /* Стекаем элементы вертикально */
        height: 100vh; /* Устанавливаем минимальную высоту, чтобы занять всю видимую высоту экрана */
    }

    .timer-wrapper {
        position: static;
        margin-top: 0;
    }

    .neon-text, .copy-address-btn {
        font-size: 18px; /* Размер шрифта адаптируется под размер экрана */
        text-align: center; /* Центрирование текста */
    }
}
@media (max-width: 480px) {
    .hero {
        padding: 5px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .neon-text {
        font-size: 16px; /* Незначительно больший размер шрифта для лучшей читаемости */
    }

    .copy-address-btn {
        font-size: 14px; /* Уменьшаем размер шрифта для кнопки на очень маленьких экранах */
    }
}
/* Стили для адаптации под мобильные устройства */
@media (max-width: 767px) {
    .buy-now-btn {
        width: 80%; /* Процент ширины экрана */
        margin: 0 auto; /* Центрирование кнопки */
        display: block; /* Блочное отображение */
    }
}

@media screen and (max-width: 767px) {
    #navbar.active {
        width: 100%; /* Меню на весь экран для мобильных версий */
    }
}
