body, html {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    background: url('background.png') no-repeat center center fixed; 
    background-size: cover;
    overflow-x: hidden;
}

.menu-icon {
    cursor: pointer;
    color: #00BFFF; /* Светло-синий текст */
    font-size: 20px; /* Увеличиваем размер для надписи Menu */
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 20;
}

#navbar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #003366; /* Темный синий фон */
    overflow-x: hidden;
    transition: 0.5s; /* Плавное появление и скрытие */
    padding-top: 60px;
    z-index: 15;
}

#navbar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* Адаптация под разные размеры экранов */
@media screen and (min-width: 768px) {
    #navbar { /* Для десктопных версий */
        width: 250px; /* Фиксированная ширина меню */
    }
}

@media screen and (max-width: 767px) {
    #navbar { /* Для мобильных версий */
        width: 100%; /* Меню на весь экран */
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index: 2;
    position: relative;
}

.content-wrapper {
    background: rgba(255, 255, 255, 0.2); /* Прозрачный белый фон */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: inline-block;
}

.neon-text {
    color: #20FC8F;
    text-shadow:
        0 0 5px #FFF,
        0 0 10px #FFF,
        0 0 20px #20FC8F,
        0 0 30px #20FC8F,
        0 0 40px #20FC8F,
        0 0 50px #20FC8F,
        0 0 60px #20FC8F;
    animation: neon 1.5s ease-in-out infinite alternate;
    font-size: 32px;
}

@keyframes neon {
    from {
        text-shadow:
            0 0 10px #FFF,
            0 0 20px #FFF,
            0 0 30px #20FC8F,
            0 0 40px #20FC8F,
            0 0 50px #20FC8F,
            0 0 60px #20FC8F,
            0 0 70px #20FC8F;
    }
    to {
        text-shadow:
            0 0 5px #FFF,
            0 0 10px #FFF,
            0 0 15px #20FC8F,
            0 0 20px #20FC8F,
            0 0 25px #20FC8F,
            0 0 30px #20FC8F,
            0 0 35px #20FC8F;
    }
}

.copy-address-btn {
    padding: 15px 30px;
    background-color: #007bff; /* Светло-синий фон */
    color: #FFF; /* Белый текст */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 9;
}

.copy-address-btn:hover {
    background-color: #0056b3; /* Темнее синий при наведении */
    transform: scale(1.1);
}

.buy-now-btn {
    padding: 10px 20px;
    background-color: #007bff; /* Светло-синий фон */
    color: #FFF; /* Белый текст */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Уменьшенный размер шрифта */
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: inline-block; /* Для правильного отображения эффектов */
    text-decoration: none;
    box-shadow: 0 0 10px #00bfff; /* Светящаяся тень */
    position: relative; /* Для возможного абсолютного позиционирования */
    z-index: 9;
}

.buy-now-btn:hover, .buy-now-btn:active {
    background-color: #0056b3; /* Темнее синий при наведении */
    box-shadow: 0 0 15px #00bfff; /* Увеличенная светящаяся тень */
    transform: scale(1.05); /* Увеличение размера */
}

/* Если нужно абсолютное позиционирование в правом верхнем углу */
.header .buy-now-btn {
    position: absolute;
    right: 20px;
    top: 10px;
}

@media (max-width: 768px) {
    .hero {
        padding: 10px;
        justify-content: center; /* Центрирование содержимого */
        align-items: center; /* Дополнительное центрирование по горизонтали, если .hero использует flex */
        display: flex;
        flex-direction: column; /* Стекаем элементы вертикально */
        height: 100vh; /* Устанавливаем минимальную высоту, чтобы занять всю видимую высоту экрана */
    }

    .timer-wrapper {
        position: static;
        margin-top: 0;
    }

    .neon-text, .copy-address-btn {
        font-size: 18px; /* Размер шрифта адаптируется под размер экрана */
        text-align: center; /* Центрирование текста */
    }
}
@media (max-width: 480px) {
    .hero {
        padding: 5px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .neon-text {
        font-size: 16px; /* Незначительно больший размер шрифта для лучшей читаемости */
    }

    .copy-address-btn {
        font-size: 14px; /* Уменьшаем размер шрифта для кнопки на очень маленьких экранах */
    }
}
