body, html {
    font-family: 'Press Start 2P', cursive;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('background2.png') no-repeat center center fixed;
    background-size: cover;
}

nav {
    background-color: #000000; /* Adjust to match the main menu */
    padding: 10px 0;
    text-align: center;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
}

nav a {
    color: #ffffff; /* Adjust to match the main menu */
    text-decoration: none;
    margin: 0 20px;
}

.text-box {
    font-family: 'VT323', monospace; /* Новый пиксельный шрифт */
    line-height: 1.5; /* Увеличиваем межстрочное расстояние */
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin: 60px auto 20px; /* Адаптируйте в соответствии с вашим дизайном */
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: justify;
}

/* Подтверждаем настройки для верхнего меню из общего файла styles.css */
nav {
    /* Стили для nav, идентичные тем, что указаны в файле styles.css */
}
}

h1, h2 {
    text-align: center;
}

ul {
    text-align: left;
    list-style-position: inside;
}
