body, html {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background: url('background2.png') no-repeat center center fixed;
    background-size: cover;
}

nav {
    background-color: #000; /* Или любой цвет, который вы используете в главном меню */
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

nav a {
    color: #fff; /* Или любой цвет, который вы используете для текста в главном меню */
    text-decoration: none;
    margin: 0 25px;
    font-size: 20px; /* Адаптируйте размер под ваш дизайн */
}

.text-box {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin: 60px auto 20px; /* Увеличьте верхний отступ, чтобы учесть фиксированное меню */
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: justify;
}
